<div class="medium-table">
    <form [formGroup]="forms" >
        <table>
    
            <tr>
                <th>Row No</th>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
               
              </tr>
              <tr>
                  <td>1</td>
                <td>2%</td>
                <td class="special-color">5</td>
                <td><input type="number"  formControlName="twopercent" (input)='calculateTwoPercent()'></td>
              </tr>
              <tr>
                <td>2</td>
                <td>10%</td>
                <td  class="special-color">10</td>
                <td><input type="number"   formControlName="tenpercent"  (input)='calculateTen()'></td>
              </tr>
              <tr>
                <td>3</td>
                <td>2% tax</td>
                <td  class="special-color">15</td>
                <td><input type="number"  formControlName="twopercenttax"></td>
              </tr>
              <tr>
                <td>4</td>
                <td>10% tax</td>
                <td  class="special-color">20</td>
                <td><input type="number"  formControlName="tenpercenttax"></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Total tax</td>
                <td  class="special-color">25</td>
                <td><input type="number" formControlName="totaltax"></td>
              </tr>
        </table>
    </form>
</div>